<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">


<head>
<title>Home</title>
<meta charset="UTF-8">
</head>
<body>
	<section layout:fragment="content">
		<div class="row">

			<div
				class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
				<div class="card card-statistics">
					<div class="card-body">
						<div class="clearfix">



							<li><a th:href="@{/arguido/lista}"><i
									class="fa fa-long-arrow-left" aria-hidden="true"></i>Voltar</a></li>
							<li><a th:href="@{/arguido/{id}(id=${arguido.id})}">Editar</a></li>


						</div>
					</div>
				</div>
			</div>

		</div>


		<div class="col-12 grid-margin">
			<div class="card">
				<div class="card-body">

					<div class="row">

						<div class="col-md-6">
							<div class="panel panel-default">
								<div class="form-group row">
									<img th:src="@{/arguido/fotografia/}+${arguido.id}+'.png'"
										class="img-thumbnail" width="200" height="200" />
								</div>
							</div>
						</div>

						<div class="card card-statistics">
							<h3 th:text="${arguido.nome}"></h3>
							<div class="row">
								<div class="col-md-12">
									<p>
										<strong>Nome do Pai: </strong><span
											th:text="${arguido.filhoDe}"></span>
									</p>
									<p>
										<strong>Nome da Mãe: </strong><span
											th:text="${arguido.efilhoDe}"></span>
									</p>
									<p>
										<strong class="badge badge-success">Nº B.I: </strong><span
											th:text="${arguido.bi}"></span>
									</p>
									<p>
										<strong>Data de Nascimento: </strong><span
											th:text="${arguido.dataNascimento}"></span>
									</p>

									<p>
										<strong>Naturalidade: </strong><span
											th:text="${arguido.naturalidade}"></span>
									</p>

									<p>
										<strong>Estado Civil: </strong><span
											th:text="${arguido.estadoCivil}"></span>
									</p>

									<p>
										<strong>Contacto Principal: </strong><span
											th:text="${arguido.contactoP}"></span>
									</p>

									<p>
										<strong>Contacto Alternativo: </strong><span
											th:text="${arguido.contactoA}"></span>
									</p>

									<p>
										<strong>Email: </strong><span th:text="${arguido.email}"></span>
									</p>


									<p>
										<strong class="badge badge-danger">Crime: </strong><span
											th:text="${arguido.crime.nome}"></span>
									</p>

									<p>
										<strong class="badge badge-info">Situação: </strong><span
											th:text="${arguido.situacao.nome}"></span>
									</p>

									<p>
										<strong>Data da Detenção: </strong><span
											th:text="${arguido.dataDetencao}"></span>
									</p>


									<p>
										<strong>Data da Legalização: </strong><span
											th:text="${arguido.dataLegalizacao}"></span>
									</p>


									<p>
										<strong>Qualidade: </strong><span
											th:text="${arguido.qualidade}"></span>
									</p>
								</div>

							</div>

							<p>
								<Strong class="badge badge-warning">Condição de
									recepção: </Strong><span th:text="${arguido.condicaoRecepcao}"></span>
							</p>
						</div>


					</div>



				</div>

			</div>
		</div>

	</section>


</body>
</html>
