<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">


<head>
<title>Home</title>
<meta charset="UTF-8">
</head>
<body>
	<section layout:fragment="content">



		<div class="col-lg-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Arguidos</h4>
					<p class="card-description">
						Lista de
						<code>Arguidos</code>
					</p>



					<div>
						<form th:action="@{/arguido/page/1}" class="forms-sample">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<input type="hidden" name="sortField" th:value="${sortField}"
											class="form-control" /> <input type="hidden" name="sortDir"
											th:value="${sortDir}" class="form-control" /> <input
											type="text" name="keyword" size="50" th:value="${keyword}"
											class="form-control"
											placeholder="pesquisa por Nome, Bi ou data de Detenção" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										&nbsp; <input type="submit" value="Pesquisar"
											class="btn btn-success mr-2" /> &nbsp;

										<a  th:href="@{/arguido/lista}"
										class="btn btn-danger"> <span class="fa fa-times"></span>Limpar
									</a>

									</div>
								</div>
							</div>
						</form>
					</div>


					<div class="table-responsive">
						<table class="table table-hover" id="tabelaArguido">
							<thead>
								<tr>


									<th>Foto</th>

									<th><a
										th:href="@{'/arguido/page/' + ${currentPage} + '?sortField=nome&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
											Nome</a></th>

									<th>Nº B.I</th>
									<th>Telefone</th>
									<th>Data detenção</th>
									<th>Opções</th>
								</tr>
							</thead>
							<tbody>
								<tr data-th-each="arguido : ${arguidoList}">

									<td class="py-1"><img
										th:src="@{/arguido/fotografia/}+${arguido.id}+'.png'"
										class="img-responsive center-block" /></td>


									<td><a th:href="@{/arguido/arguidoInfo(id=${arguido.id})}"><span
											th:text="${arguido.nome}"></span></a></td>

									<td th:text="${arguido.bi}"></td>
									<td th:text="${arguido.contactoP}"></td>

									<td th:text="${arguido.dataDetencao}"></td>

									<td><a th:href="@{'/arguido/delete/' + ${arguido.id}}"
										class="btn btn-danger"> <span class="fa fa-times"></span>Delete
									</a></td>


								</tr>

							</tbody>
						</table>

					</div>

					<!-- Pagina-->



					<div class="row" th:fragment="pagination">

						<div class="col-md-2"></div>
						<div class="col-md-8">
							<nav aria-label="Pagination">
								<ul class="pagination justify-content-center">

									Total itens: [[${totalItems}]] - Página [[${currentPage}]] de
									[[${totalPages}]] &nbsp; &nbsp;



									<a th:if="${currentPage > 1}"
										th:href="@{'/arguido/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">First</a>
									<span th:unless="${currentPage > 1}">First</span> &nbsp;&nbsp;
									<a th:if="${currentPage > 1}"
										th:href="@{'/arguido/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Previous</a>
									<span th:unless="${currentPage > 1}">Previous</span>
									&nbsp;&nbsp;
									<span th:each="i: ${#numbers.sequence(1, totalPages)}">
										<a th:if="${i != currentPage}"
										th:href="@{'/arguido/page/' + ${i}} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}">[[${i}]]</a>
										&nbsp; &nbsp; <span th:unless="${i != currentPage}">[[${i}]]</span>
										&nbsp; &nbsp;
									</span>
									<a th:if="${currentPage < totalPages}"
										th:href="@{'/arguido/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Next</a>
									<span th:unless="${currentPage < totalPages}">Next</span>
									&nbsp;&nbsp;
									<a th:if="${currentPage < totalPages}"
										th:href="@{'/arguido/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Last</a>
									<span th:unless="${currentPage < totalPages}">Last</span>
									&nbsp;&nbsp;

								</ul>
							</nav>
						</div>
					</div>
<!-- Fim pagia -->
				</div>
			</div>
		</div>



	</section>

	<script type="text/javascript">
		function clearSearch() {
			window.location = "/arguido/lista";
		}
	</script>
</body>
</html>
