<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">

<head>
<title>Cadastro de processo</title>
<meta charset="UTF-8">
</head>
<body>
	<section layout:fragment="content">

		<div class="col-md-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Cadastro</h4>
					<p class="card-description">Cadastro de Processos</p>
					<form class="forms-sample" action="updateProcesso"
						th:object="${processo}" method="post"
						enctype="multipart/form-data">


						<div class="row">

							<div class="form-group">
								<input hidden="hidden" name="id" th:value="${processo.id}" />
							</div>


							<div class="col-md-6">
								<div class="form-group row">
									<label class="col-sm-3 col-form-label" for="numeroProcesso">Nº.Processo</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" th:field="*{numeroProcesso}"
											id="numeroProcesso" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row">
									<label class="col-sm-3 col-form-label" for="descricao">Descrição</label>
									<div class="col-sm-9">


										<textarea th:field="*{descricao}" rows="5" class="form-control"
											id="descricao" th:value="${descricao}"
											placeholder="Descrição"></textarea>


									</div>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-md-6">
								<div class="form-group row">
									<label class="col-sm-3 col-form-label">Área</label>
									<div class="col-sm-9">
										<select class="form-control" th:field="*{areaProcesso}"
											id="areaProcesso">
											<option value="">Selecione</option>
											<option th:each="areaProcesso : ${areaProcessos}"
												th:value="${areaProcesso}" th:text="${areaProcesso.nome}" />
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row">
									<label class="col-sm-3 col-form-label" for="dataAbertura">Data
										abertura</label>
									<div class="col-sm-9">
										<div class="input-group date" id="datetimepicker1"
											data-target-input="nearest">

											<input type="text" class="form-control datetimepicker-input"
												data-target="#datetimepicker1"
												placeholder="data de abertura" th:field="*{dataAbertura}"
												id="dataAbertura" />


											<div class="input-group-append"
												data-target="#datetimepicker1" data-toggle="datetimepicker">
												<div class="input-group-text">
													<i class="fa fa-calendar-alt"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group row">
									<label class="col-sm-3 col-form-label" for="instanciaAtual">Instância</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" th:field="*{instanciaAtual}"
											id="instanciaAtual" />
									</div>
								</div>

							</div>

							<div class="col-md-6">
								<div class="form-group row">
									<label class="col-sm-3 col-form-label" for="instrutor">Instrutor</label>
									<div class="col-sm-9">

										<select id="instrutor" class="form-control"
											th:field="*{instrutor}">
											<option value="">Selecione</option>
											<option th:each="instrutor : ${instrutores}"
												th:value="${instrutor.id}" th:text="${instrutor.nome}"></option>
										</select>
									</div>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-md-12">

								<div class="form-group row">
									<label class="col-sm-3 col-form-label">Arguidos</label>

									<div class="col-sm-9">
										<select class="form-control selectpicker"
											th:field="*{arguidos}" id="arguido" multiple="multiple">

											<option th:each="arguido : ${arguidos}"
												th:value="${{arguido.id}}" th:text="${arguido.nome}">arguido


											</option>
										</select>
									</div>
								</div>
							</div>



							<div class="form-group col-md-6">

								<label for="file">Anexo</label>
								<div class="input-group col-xs-12">

									<input type="file" name="file" id="file"
										class="form-control file-upload-info" /><span
										class="input-group-append">
										<button class="file-upload-browse btn btn-info" type="button">Carregar</button>
									</span>
								</div>
							</div>

						</div>



						<button type="submit" class="btn btn-success mr-2" value="salvar">Salvar</button>
						<button class="btn btn-danger" type="reset">Cancel</button>
					</form>
				</div>
			</div>
		</div>



	</section>


</body>
</html>
